@import 'modern-normalize';
@import './styles/vars.css';
@import './styles/fonts/fonts.css';

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  background-color: var(--main-bg_color);
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}